<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
# Creation of string variables
my_string1 = 'Welcome to'
my_string2 = "QuantConnect,"
my_string3 = "I am Natalia Monroy"
# print a string using + to concatenate and print function to how the output
print(my_string1 + ' ' + my_string2 + ' ' + my_string3)

Welcome to QuantConnect, I am Natalia Monroy

An integer is a round number with no values after the decimal point.

In [ ]:
# Variable of type int creation
my_int = 96
# printing the value of my_int variable
print(my_int)
# printing the type of my_int variable
print(type(my_int))

96
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
# printing the type of my_string variable
print(type(my_string))
# casting the string my_string into an int variable my_int using the function int()
my_int = int(my_string)
# printing the type of my_int variable
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
# casting the string my_string as a float
my_float = float(my_string)
# printing the type of my_float variable
print(type(my_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
# create a boolean tye variable 
my_bool = False
# printing the value of my_bool variable
print(my_bool)
# printing the type of my_bool variable
print(type(my_bool))

False
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
# mathematical operations
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*8)
print("Division ", 10/2)
print('exponent', 2**5)

Addition  2
Subtraction  3
Multiplication  16
Division  5.0
exponent 32

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
#Division of integers gives a float in this case
print(1/3)
#Division of a float over an integer gives a float
print(1.0/3)

0.3333333333333333
0.3333333333333333

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
# Create a list of strings
my_list = ['Quant', 'Connect', 'Natalia']
# Printing the values of the list
print(my_list)

['Quant', 'Connect', 'Natalia']

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n âˆ’ 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
# Printing the size of my_list
print(len(my_list))
#Priting the value at index 0 of my_list
print(my_list[0])
#printing the value of the last index (the end) of my_list
print(my_list[len(my_list) -1])

5
Quant
3

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
# Setting value at index 2 as the string 'hello'
my_list[2] = 'hello'
#printing the modified list
print(my_list)

['Quant', 'Connect', 'hello', 2, 3]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
# printing the values of my_list staring at index 1 until index 2, using slicing
print(my_list[1:3])

['Connect', 1]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
# printing elements of my_list from index 1 to the end
print(my_list[1:])

['Connect', 1, 2, 3]

And all elements up to but excluding index 3:

In [ ]:
# print the elements from my_list from the begining until the one at index 2
print(my_list[:3])

['Quant', 'Connect', 1]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
# Using append function to insert a value to my_list
my_list.append('Dog')
print(my_list)

['Hello', 'Quant', 'Dog']

In [ ]:
#Using remove function to eliminate a value from my_list
my_list.remove('Hello')
print(my_list)

['Quant', 'Dog']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
#Creating a tuple
my_tuple = ('Welcome','to','QuantConnect')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
# Printing the values of the tuple from the second to the end
print(my_tuple[1:])

('to', 'QuantConnect')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
# Converting a list to a set will eliminate duplicates
stock_set = set(stock_list)
print(stock_set)

{'GOOG', 'F', 'IBM', 'AAPL', 'FB'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
# Creating a dictionary
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Chrome'}

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
# Print the value of the key 'GOOG' in my_dic
print(my_dic['GOOG'])

Chrome

We can also change the value associated with a specified key:

In [ ]:
# Change the value associated to the key 'GOOG'
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

In [ ]:
# Print all the keys existing currently in my_dic
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
# Slicing the string my_str from the index 8 to the end
print(my_str[8:])

to QuantConnect

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
# Create a list of strings from Time by splitting it by ' ' 
splited_list = Time.split(' ')
date = splited_list[0]   # Value at index 0 assigned to variable date
time = splited_list[1]   # Value at index 1 assigned to variable time
# Divide the string time by : an get the first index of the list
hour = time.split(':')[0]
print(hour)

09

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
#Using format to replace parts of a string
my_time = 'Hour: {}, Minute: {}'.format('06','45')
print(my_time)

Hour: 06, Minute: 45

Another way to format a string is to use the % symbol.

In [ ]:
#formatting using '%f' for float and '%s' for strings
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
# Equal comparison operator
print(1 == 0)
print(1 == 1)
# Not equal comparison operator
print(1 != 0)
# Greater than or equal comparison operator
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
#Logical operators and, or
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
#if the condition is true, the indented block will be executed
if i == 0:
    print('i==0 is True and I love cats')

i==0 is True and I love cats

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 6
if p and q:
    print('p and q is true')
# If previous condition is not met we evaluate this one
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
#if all previous conditions are not met the indented block below the else is executed
else:
    print('None of p and q is true')

q is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
# print the value of i while i is less than 5
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
# for each element i in the list print the element
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM', 'FB']
new_list = []
# For each element in stocks list if it is not in selected list append it in new_list
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(new_list)

['GOOG', 'F', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'V':
        #exit the loop
        break

AAPL
GOOG
IBM
FB
F
V

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        #skip iteration and go to the next one
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
# creating a list of the square of each element in the list with a loop
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

Using list comprehension:

In [5]:
list = [1,2,3,4,5,8]
# list comprehension to create the list in a more pythonic way
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25, 64]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
#list comprehension
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
#Using list comprehension to create a new list of (x, y) pairs only if x and y values are different 
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
#Defining product function with parameters x and y that returns the multiplication of their values
def product(x,y):
    return x*y
# Call de function with parameters 2 and 3 and print the result
print(product(5156,3))
print(product(5,10))

15468
50

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
# function without parameters
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [1]:
# Creates a list of integer numbers from 0 to 10
print(range(10))
# Creates a list of integer numbers from 1 to 11
print(range(1,11))
# Creates a list of integer numbers from 1 to 11 with a step of 2
print(range(1,11,2))

for i in range(5):
  print('Hello')

range(0, 10)
range(1, 11)
range(1, 11, 2)
Hello
Hello
Hello
Hello
Hello

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [2]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
# Using len() function to print the size of the list tickers
print('The length of tickers is {}'.format(len(tickers)))
# Using len in range to irterarte over a the list
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [6]:
print(list)
list
# Deleting variable list
del list
list

[1, 2, 3, 4, 5, 8]

list

In [7]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
#Applying the function len to each element of the list tickers, as they are strings it gives us the amount of letters per string and creates a list of them
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [8]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [9]:
#Using lambda  to apply a function to the list of numbers from 0 to 10 created by range
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

map() can be applied to more than one list. The lists have to have the same length.

In [10]:
#Applying map to two lists using lambda to define a function
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

**sorted()** takes a list or set and returns a new sorted list

In [11]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [12]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
# Giving key parameter to sorted function so it makes the sorting process based on it
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [13]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',450),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('GOOG', 911.71), ('FB', 450), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [14]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
# Using sort function from list modifies the list itself
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [15]:
class stock:
    #Init function to create a stock object
    def __init__(self, ticker, open, close, volume):
        #Attributes
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
    
    # Function to modify some attributes
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
    
    # Function to print the current return of the stock
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [16]:
# Creating two stock objects using stock class
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [18]:
# Getting ticker attribute from apple stock object
print(apple.ticker)
# Using print_return method from google object
google.print_return()
# Using update method to modify the open, close and return attributes of google object
google.update(912.8,913.4)
# Print updated return
google.print_return()

AAPL
0.0006573181419806673
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [19]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [20]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [21]:
# Class that inherits all the attributes and methods from stocks method
class child(stock):
    def __init__(self,name):
      # creating a new attribute for this specific child class
        self.name = name

In [25]:
# Creating a child object with name 'aa'
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
aa.print_return()
print(aa.print_return()) # Prints None at the end because print_return is not an attribute of aa object but it calls the function though

aa
100
102
0.020000000000000018
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [26]:
# Importing numpy package
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [27]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
# creating a Numpy array from a list using the function np.array
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [28]:
# Creating a 2d numpy array
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [29]:
print(Ar.shape)

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [30]:
# Getting frist row of the numpy array/ matrix
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

If we want to access the matrix by column instead:

In [31]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [32]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

Other functions return a single value:

In [33]:
# Getting the mean of the array
print(np.mean(price_array))
# Getting the standard deviation of the array
print(np.std(price_array))
# Getting the sum of all values from the array
print(np.sum(price_array))
# Getting the max value of the array
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [34]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [35]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
# Created a pandas series object from price list
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

We can customize the indices of a new Series:

In [36]:
# Setting the index of the series as letters instead of numbers
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

Or we can change the indices of an existing Series:

In [37]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

Series is like a list since it can be sliced by index:

In [40]:
# Slicing series from the second element to the end
print(s[1:])
# Slicing series from the beginning to the element in the fifth position going backwards
print(s[:-4])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [42]:
# Getting the value at index 4 in the series 
print(s[4])
# Modify the value at index 4 in the series 
s[4] = 0
print(s)

0.0
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [45]:
# Creating a series with a name attribute
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

We can get the statistical summaries of a Series:

In [46]:
# Using describe function to get statistical info about the series
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [47]:
# creating a series index as a date using date_range function with a daily freq
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
# setting the index of s series as time_index
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [48]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [50]:
# Using iloc to access elements of the series by position in the series
print(s.iloc[1])

145.83

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [51]:
s.index = time_index
print(s['2017-01-03'])

143.68

We can even access to a range of dates:

In [53]:
# Slecting a range of dates from the series with slicing
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [54]:
# Selecting elements in the series that meets the condition inside the brackets
print(s[s < np.mean(s)] )
# A more complex condiditon for the data to meet
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [55]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 63 kB 1.2 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6.4 MB 6.8 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [56]:
import yfinance as yf

#Creating a ticker object with AAPL info
aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 100000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.33890998, 'profitMargins': 0.26579002, 'grossMargins': 0.43019, 'operatingCashflow': 112241000448, 'revenueGrowth': 0.112, 'operatingMargins': 0.309, 'ebitda': 128217997312, 'targetLowPrice': 160, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 80153247744, 'targetMedianPrice': 199.5, 'currentPrice': 155.09, 'earningsGrowth': 0.25, 'currentRatio': 1.038, 'returnOnAssets': 0.19875, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 193.53, 'debtToEquity': 170.714, 'returnOnEquity': 1.45567, 'targetHighPrice': 215, 'totalCash': 63913000960, 'totalDebt': 122797998080, 'totalRevenue': 378323009536, 'totalCashPerShare': 3.916, 'financialCurrency': 'USD', 'revenuePerShare': 22.838, 'quickRatio': 0.875, 'recommendationMean': 1.8, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.653, 'beta3Year': None, 'enterpriseToEbitda': 19.63, '52WeekChange': 0.24310672, 'morningStarRiskRating': None, 'forwardEps': 6.56, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16319399936, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 4.402, 'sharesShort': 110322490, 'sharesPercentSharesOut': 0.0068, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.59430003, 'netIncomeToCommon': 100554997760, 'trailingEps': 6.015, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.072551966, 'priceToBook': 35.231712, 'heldPercentInsiders': 0.0007, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1640390400, 'shortRatio': 1.2, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 16302795170, 'beta': 1.185531, 'enterpriseValue': 2516919255040, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1643932800, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.204, 'priceToSalesTrailing12Months': 6.8725734, 'dateShortInterest': 1646006400, 'pegRatio': 1.69, 'ytdReturn': None, 'forwardPE': 23.641768, 'lastCapGain': None, 'shortPercentOfFloat': 0.0068, 'sharesShortPriorMonth': 91388112, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 150.62, 'regularMarketOpen': 150.9, 'twoHundredDayAverage': 153.8877, 'trailingAnnualDividendYield': 0.0057429294, 'payoutRatio': 0.1434, 'volume24Hr': None, 'regularMarketDayHigh': 155.57, 'navPrice': None, 'averageDailyVolume10Day': 96292350, 'regularMarketPreviousClose': 150.62, 'fiftyDayAverage': 167.6362, 'trailingAnnualDividendRate': 0.865, 'open': 150.9, 'toCurrency': None, 'averageVolume10days': 96292350, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1643932800, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 150.385, 'currency': 'USD', 'trailingPE': 25.783875, 'regularMarketVolume': 89231766, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2600052719616, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 94610615, 'dayLow': 150.385, 'ask': 155.1, 'askSize': 1300, 'volume': 89231766, 'fiftyTwoWeekHigh': 182.94, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.13, 'fiftyTwoWeekLow': 118.86, 'bid': 155.01, 'tradeable': False, 'dividendYield': 0.0057, 'bidSize': 1200, 'dayHigh': 155.57, 'regularMarketPrice': 155.09, 'preMarketPrice': 150.9, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': 3.2017}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,23.590638,24.225178,23.450395,24.220579,270597600,0.0,0
2016-01-05,24.312544,24.335535,23.544660,23.613630,223164000,0.0,0
2016-01-06,23.119327,23.535458,22.960694,23.151514,273829600,0.0,0
2016-01-07,22.687108,23.020471,22.169820,22.174417,324377600,0.0,0
2016-01-08,22.657219,22.785966,22.245687,22.291668,283192000,0.0,0
...,...,...,...,...,...,...,...
2017-12-22,41.713657,41.890370,41.670674,41.792461,65397600,0.0,0
2017-12-26,40.787116,40.947112,40.519657,40.732193,132742000,0.0,0
2017-12-27,40.619938,40.782320,40.526806,40.739338,85992800,0.0,0
2017-12-28,40.834865,41.037847,40.710688,40.853970,65920800,0.0,0
2017-12-29,40.720248,40.736962,40.409807,40.412193,103999600,0.0,0

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [57]:
# Selecting close prices from aapl_table with dates of 2017 to create a series
aapl = aapl_table['Close']['2017']

In [58]:
print(aapl)

Date
2017-01-03    27.297693
2017-01-04    27.267139
2017-01-05    27.405802
2017-01-06    27.711330
2017-01-09    27.965153
                ...
2017-12-22    41.792461
2017-12-26    40.732193
2017-12-27    40.739338
2017-12-28    40.853970
2017-12-29    40.412193
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [59]:
# Getting data from March of 2017
print(aapl['2017-3'])

Date
2017-03-01    32.996029
2017-03-02    32.800114
2017-03-03    32.993671
2017-03-06    32.889816
2017-03-07    32.932293
2017-03-08    32.809555
2017-03-09    32.734024
2017-03-10    32.842598
2017-03-13    32.856758
2017-03-14    32.807201
2017-03-15    33.154175
2017-03-16    33.208458
2017-03-17    33.043236
2017-03-20    33.390205
2017-03-21    33.007828
2017-03-22    33.380775
2017-03-23    33.262745
2017-03-24    33.196663
2017-03-27    33.253315
2017-03-28    33.942547
2017-03-29    34.018082
2017-03-30    33.973232
2017-03-31    33.909508
Name: Close, dtype: float64

In [60]:
# Getting data from feb-2017 to apr-2017
aapl['2017-2':'2017-4']

Date
2017-02-01    30.258953
2017-02-02    30.207256
2017-02-03    30.336512
2017-02-06    30.620886
2017-02-07    30.912313
                ...
2017-04-24    33.904778
2017-04-25    34.114857
2017-04-26    33.914223
2017-04-27    33.940189
2017-04-28    33.907146
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [61]:
#Print the first 5 elements of the series
print(aapl.head(5))
#Print the last 10 elements of the series
print(aapl.tail(10))

Date
2017-01-03    27.297693
2017-01-04    27.267139
2017-01-05    27.405802
2017-01-06    27.711330
2017-01-09    27.965153
Name: Close, dtype: float64
Date
2017-12-15    41.544106
2017-12-18    42.129166
2017-12-19    41.680218
2017-12-20    41.634846
2017-12-21    41.792461
2017-12-22    41.792461
2017-12-26    40.732193
2017-12-27    40.739338
2017-12-28    40.853970
2017-12-29    40.412193
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [63]:
#Aggregating data monthly and get the mean
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.101464
2017-02-28    31.520056
2017-03-31    33.191427
2017-04-30    33.727008
2017-05-31    36.027136
2017-06-30    35.038140
2017-07-31    35.149096
2017-08-31    37.793847
2017-09-30    37.502156
2017-10-31    37.551830
2017-11-30    41.121434
2017-12-31    41.047758
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [65]:
#Aggregating data weekly and get the mean
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.420491
2017-01-15    28.021084
2017-01-22    28.189011
2017-01-29    28.476088
2017-02-05    29.581625
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [66]:
aapl.resample('M').max()

Date
2017-01-31    28.660812
2017-02-28    32.363434
2017-03-31    34.018082
2017-04-30    34.171509
2017-05-31    36.997932
2017-06-30    36.843868
2017-07-31    36.372204
2017-08-31    39.022987
2017-09-30    39.034882
2017-10-31    40.222218
2017-11-30    41.935425
2017-12-31    42.129166
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [67]:
#Aggregating data every three days and get the mean
three_day = aapl.resample('3D').mean()
#Aggregating data every 2 weeks and get the mean
two_week = aapl.resample('2W').mean()
#Aggregating data every 2 months and get the mean
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.323545
2017-01-06    27.711330
2017-01-09    28.034089
2017-01-12    28.001576
2017-01-15    28.202528
                ...
2017-12-17    41.904692
2017-12-20    41.739923
2017-12-23          NaN
2017-12-26    40.775167
2017-12-29    40.412193
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.420491
2017-01-22    28.095718
2017-02-05    29.028856
2017-02-19    31.430840
2017-03-05    32.506640
2017-03-19    32.927811
2017-04-02    33.533490
2017-04-16    33.757391
2017-04-30    33.699664
2017-05-14    35.600253
2017-05-28    36.396621
2017-06-11    36.415396
2017-06-25    34.434853
2017-07-09    34.171659
2017-07-23    35.182634
2017-08-06    36.173827
2017-08-20    37.800719
2017-09-03    38.353881
2017-09-17    38.178276
2017-10-01    36.740376
2017-10-15    36.970465
2017-10-29    37.654321
2017-11-12    40.920306
2017-11-26    41.091973
2017-12-10    40.755585
2017-12-24    41.507331
2018-01-07    40.684423
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.101464
2017-03-31    32.435331
2017-05-31    34.961223
2017-07-31    35.090976
2017-09-30    37.658177
2017-11-30    39.295125
2018-01-31    41.047758
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [68]:
#getting standard deviation weekly
std = aapl.resample('W').std()
#getting max value by week
max = aapl.resample('W').max()
#getting min value by month
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.202813
2017-01-15    0.072331
2017-01-22    0.025488
2017-01-29    0.244618
2017-02-05    0.940687
2017-02-12    0.251314
2017-02-19    0.230762
2017-02-26    0.059178
2017-03-05    0.339163
2017-03-12    0.076076
2017-03-19    0.177347
2017-03-26    0.156833
2017-04-02    0.318934
2017-04-09    0.128337
2017-04-16    0.211900
2017-04-23    0.174190
2017-04-30    0.089779
2017-05-07    0.234996
2017-05-14    0.352018
2017-05-21    0.534628
2017-05-28    0.060227
2017-06-04    0.280458
2017-06-11    0.618346
2017-06-18    0.381525
2017-06-25    0.128541
2017-07-02    0.263388
2017-07-09    0.158459
2017-07-16    0.403184
2017-07-23    0.124651
2017-07-30    0.383391
2017-08-06    0.921867
2017-08-13    0.466195
2017-08-20    0.434061
2017-08-27    0.275014
2017-09-03    0.251035
2017-09-10    0.380596
2017-09-17    0.293332
2017-09-24    0.733186
2017-10-01    0.353879
2017-10-08    0.204298
2017-10-15    0.118408
2017-10-22    0.515588
2017-10-29    0.678600
2017-11-05    0.559153
2017-11-12    0.190448
2017-11-19    0.435010
2017-11-26    0.561513
2017-12-03    0.426275
2017-12-10    0.072930
2017-12-17    0.204704
2017-12-24    0.193596
2017-12-31    0.189871
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.711330
2017-01-15    28.143764
2017-01-22    28.202528
2017-01-29    28.660812
2017-02-05    30.336512
2017-02-12    31.256413
2017-02-19    32.035351
2017-02-26    32.363434
2017-03-05    32.996029
2017-03-12    32.932293
2017-03-19    33.208458
2017-03-26    33.390205
2017-04-02    34.018082
2017-04-09    34.171509
2017-04-16    33.793846
2017-04-23    33.621532
2017-04-30    34.114857
2017-05-07    35.160515
2017-05-14    36.997932
2017-05-21    36.903126
2017-05-28    36.497826
2017-06-04    36.843868
2017-06-11    36.824909
2017-06-18    34.743923
2017-06-25    34.684666
2017-07-02    34.563782
2017-07-09    34.172714
2017-07-16    35.324612
2017-07-23    35.793900
2017-07-30    36.372204
2017-08-06    37.244415
2017-08-13    38.173515
2017-08-20    38.451912
2017-08-27    38.066433
2017-09-03    39.034882
2017-09-10    38.566128
2017-09-17    38.428112
2017-09-24    37.769009
2017-10-01    36.698254
2017-10-08    36.974281
2017-10-15    37.354988
2017-10-22    38.183033
2017-10-29    38.796932
2017-11-05    41.045513
2017-11-12    41.935425
2017-11-19    41.544106
2017-11-26    41.782906
2017-12-03    41.572754
2017-12-10    40.548302
2017-12-17    41.544106
2017-12-24    42.129166
2017-12-31    40.853970
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.267139
2017-01-15    27.965153
2017-01-22    28.150816
2017-01-29    28.195471
2017-02-05    28.519798
2017-02-12    30.620886
2017-02-19    31.461767
2017-02-26    32.226536
2017-03-05    32.320961
2017-03-12    32.734024
2017-03-19    32.807201
2017-03-26    33.007828
2017-04-02    33.253315
2017-04-09    33.833973
2017-04-16    33.293430
2017-04-23    33.206112
2017-04-30    33.904778
2017-05-07    34.586937
2017-05-14    36.116478
2017-05-21    35.611401
2017-05-28    36.343765
2017-06-04    36.206295
2017-06-11    35.310379
2017-06-18    33.720013
2017-06-25    34.369438
2017-07-02    34.054203
2017-07-09    33.829037
2017-07-16    34.381287
2017-07-23    35.447849
2017-07-30    35.433632
2017-08-06    35.251133
2017-08-13    36.957615
2017-08-20    37.476337
2017-08-27    37.407333
2017-09-03    38.420994
2017-09-10    37.745220
2017-09-17    37.661942
2017-09-24    36.141468
2017-10-01    35.822617
2017-10-08    36.519794
2017-10-15    37.081348
2017-10-22    37.114662
2017-10-29    37.159863
2017-11-05    39.670193
2017-11-12    41.461918
2017-11-19    40.376369
2017-11-26    40.591282
2017-12-03    40.471897
2017-12-10    40.359650
2017-12-17    41.002026
2017-12-24    41.634846
2017-12-31    40.412193
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [69]:
#Getting the price of the stick in the last day of the month
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.519798
2017-02-28    32.335114
2017-03-31    33.909508
2017-04-30    33.907146
2017-05-31    36.206295
2017-06-30    34.134796
2017-07-31    35.251133
2017-08-31    39.022987
2017-09-30    36.672089
2017-10-31    40.222218
2017-11-30    41.037857
2017-12-31    40.412193
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [70]:
#Getting onthly return using resampling by month and lambda to define the aggregatio function
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027685
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [71]:
#Mean of monthly return of 2017
print(monthly_return.mean())
#Standard dev of monthly return of 2017
print(monthly_return.std())
#Max return by month of 2017
print(monthly_return.max())

0.026863373251625567
0.05225848717165016
0.09901802485316136

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
# Getting the diff of prices between actual and previous month in the series
print(last_day.diff())
# Getting the percentage in the change of prices between actual and previous month in the series
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825745
2017-03-31    1.578693
2017-04-30   -0.002365
2017-05-31    2.305443
2017-06-30   -2.077160
2017-07-31    1.119385
2017-08-31    3.782162
2017-09-30   -2.357327
2017-10-31    3.559849
2017-11-30    0.817856
2017-12-31   -0.627361
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [73]:
daily_return = last_day.pct_change()
#Using fillna function to replace Nan values with 0 in the series
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [74]:
daily_return = last_day.pct_change()
#Using backward fill to replace the NaN value
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [75]:
daily_return = last_day.pct_change()
#Removing any NaN values in the series with dropna() function
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [76]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
#Creatng an index from date range with a daily freq, 5 days
data_index = pd.date_range('2017-07-03', periods = 5, freq = 'D')
#Creating a data frame using pd.DataFrame with dict as data and data_index as index
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [77]:
df = aapl_table
#Getting the last 5 values of Close column in the df
print(df.Close.tail(5))
#Getting the last 5 values of Volume column in the df
print(df['Volume'].tail(5))

Date
2017-12-22    41.792461
2017-12-26    40.732193
2017-12-27    40.739338
2017-12-28    40.853970
2017-12-29    40.412193
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [78]:
#Selecting all data from 2016 from df
aapl_2016 = df['2016']
#gettng the information of the last day of each month using resample and agg
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low      Close     Volume  Dividends  \
Date
2016-01-31  21.792777  22.379036  21.691618  22.379036  257666000        0.0
2016-02-29  22.389513  22.706194  22.340971  22.350218  140865200        0.0
2016-03-31  25.362146  25.403754  25.167976  25.193403  103553600        0.0
2016-04-30  21.726098  21.894841  21.383993  21.668310  274126000        0.0
2016-05-31  23.163041  23.349090  22.981644  23.223507  169228800        0.0
2016-06-30  21.963032  22.272336  21.930474  22.232801  143345600        0.0
2016-07-31  24.230501  24.314223  24.111894  24.235151  110934800        0.0
2016-08-31  24.705481  24.918257  24.700804  24.808361  118649600        0.0
2016-09-30  26.295459  26.508237  26.141139  26.433414  145516400        0.0
2016-10-31  26.573707  26.709324  26.468487  26.547987  105677600        0.0
2016-11-30  26.228343  26.369355  25.915764  25.974520  144649200        0.0
2016-12-31  27.415203  27.544463  27.128477  27.220135  122345200        0.0

            Stock Splits
Date
2016-01-31             0
2016-02-29             0
2016-03-31             0
2016-04-30             0
2016-05-31             0
2016-06-30             0
2016-07-31             0
2016-08-31             0
2016-09-30             0
2016-10-31             0
2016-11-30             0
2016-12-31             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

We may select certain columns of a DataFrame using their names:

In [79]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.792777  22.379036  21.691618  22.379036
2016-02-29  22.389513  22.706194  22.340971  22.350218
2016-03-31  25.362146  25.403754  25.167976  25.193403
2016-04-30  21.726098  21.894841  21.383993  21.668310
2016-05-31  23.163041  23.349090  22.981644  23.223507
2016-06-30  21.963032  22.272336  21.930474  22.232801
2016-07-31  24.230501  24.314223  24.111894  24.235151
2016-08-31  24.705481  24.918257  24.700804  24.808361
2016-09-30  26.295459  26.508237  26.141139  26.433414
2016-10-31  26.573707  26.709324  26.468487  26.547987
2016-11-30  26.228343  26.369355  25.915764  25.974520
2016-12-31  27.415203  27.544463  27.128477  27.220135

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [80]:
#Selecting columns 'Open', 'High', 'Low', 'Close of data from mar-2016 to jun-2016 using loc function
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.362146  25.403754  25.167976  25.193403
2016-04-30  21.726098  21.894841  21.383993  21.668310
2016-05-31  23.163041  23.349090  22.981644  23.223507
2016-06-30  21.963032  22.272336  21.930474  22.232801

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [82]:
import numpy as np
#Slecting data that meets a condition, in this case that the close value is greater then the mean of the close val of the df
above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.362146  25.403754  25.167976  25.193403
2016-08-31  24.705481  24.918257  24.700804  24.808361
2016-09-30  26.295459  26.508237  26.141139  26.433414
2016-10-31  26.573707  26.709324  26.468487  26.547987
2016-11-30  26.228343  26.369355  25.915764  25.974520
2016-12-31  27.415203  27.544463  27.128477  27.220135

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [83]:
# Creating a new column by applying the pct_change function to the close clumn od the df
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792777  22.379036  21.691618  22.379036          NaN
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921
2016-05-31  23.163041  23.349090  22.981644  23.223507     0.071773
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660
2016-07-31  24.230501  24.314223  24.111894  24.235151     0.090063
2016-08-31  24.705481  24.918257  24.700804  24.808361     0.023652
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065504
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228343  26.369355  25.915764  25.974520    -0.021601
2016-12-31  27.415203  27.544463  27.128477  27.220135     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [84]:
#Using is null to get an overview of the null values in the data frame, is a boolean mask that puts True if the value is null
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [85]:
#Find rows whose value at the column rate_return is True
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [86]:
#Droppring rows with any Nan value
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
#Filling NaN values with 0
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921
2016-05-31  23.163041  23.349090  22.981644  23.223507     0.071773
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660
2016-07-31  24.230501  24.314223  24.111894  24.235151     0.090063
2016-08-31  24.705481  24.918257  24.700804  24.808361     0.023652
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065504
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228343  26.369355  25.915764  25.974520    -0.021601
2016-12-31  27.415203  27.544463  27.128477  27.220135     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792777  22.379036  21.691618  22.379036     0.000000
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921
2016-05-31  23.163041  23.349090  22.981644  23.223507     0.071773
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660
2016-07-31  24.230501  24.314223  24.111894  24.235151     0.090063
2016-08-31  24.705481  24.918257  24.700804  24.808361     0.023652
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065504
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228343  26.369355  25.915764  25.974520    -0.021601
2016-12-31  27.415203  27.544463  27.128477  27.220135     0.047955

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [87]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
#Create a datafrae by concatenating two series
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [88]:
#Applying log function to the close column of aapl_bar
log_price = np.log(aapl_bar.Close)
#Setting the name of log price series
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
#Concatenate a df and a series
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.108125
2016-02-29    3.106836
2016-03-31    3.226582
2016-04-30    3.075851
2016-05-31    3.145165
2016-06-30    3.101569
2016-07-31    3.187804
2016-08-31    3.211181
2016-09-30    3.274629
2016-10-31    3.278954
2016-11-30    3.257116
2016-12-31    3.303957
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.792777  22.379036  21.691618  22.379036          NaN   3.108125
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288   3.106836
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211   3.226582
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921   3.075851
2016-05-31  23.163041  23.349090  22.981644  23.223507     0.071773   3.145165
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660   3.101569
2016-07-31  24.230501  24.314223  24.111894  24.235151     0.090063   3.187804
2016-08-31  24.705481  24.918257  24.700804  24.808361     0.023652   3.211181
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065504   3.274629
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334   3.278954
2016-11-30  26.228343  26.369355  25.915764  25.974520    -0.021601   3.257116
2016-12-31  27.415203  27.544463  27.128477  27.220135     0.047955   3.303957

We can also join two DataFrames by rows. Consider these two DataFrames:

In [89]:
# Creating a dataframe by getting the value of the columns 'Volume' and 'Stock Splits' of the last day of each month in the range of dates specified
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
# Creating a dataframe by getting the value of the columns 'Open', 'High', 'Low' and 'Close' of the last day of each month in the range of dates specified
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.573707  26.709324  26.468487  26.547987
2016-11-30  26.228343  26.369355  25.915764  25.974520
2016-12-31  27.415203  27.544463  27.128477  27.220135
2017-01-31  28.472795  28.529199  28.348234  28.519798
2017-02-28  32.356356  32.441331  32.266660  32.335114
2017-03-31  33.923670  34.053492  33.756080  33.909508
2017-04-30  34.011005  34.060575  33.817454  33.907146

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [91]:
#Merging the datafraes using concat function
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-01-31  21.792777  22.379036  21.691618  22.379036          NaN
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921
2016-05-31  23.163041  23.349090  22.981644  23.223507     0.071773
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660
2016-07-31  24.230501  24.314223  24.111894  24.235151     0.090063
2016-08-31  24.705481  24.918257  24.700804  24.808361     0.023652
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065504
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228343  26.369355  25.915764  25.974520    -0.021601
2016-12-31  27.415203  27.544463  27.128477  27.220135     0.047955
2017-01-31        NaN        NaN        NaN        NaN          NaN
2017-02-28        NaN        NaN        NaN        NaN          NaN
2017-03-31        NaN        NaN        NaN        NaN          NaN
2017-04-30        NaN        NaN        NaN        NaN          NaN

                 Volume  Stock Splits
Date
2016-01-31          NaN           NaN
2016-02-29          NaN           NaN
2016-03-31          NaN           NaN
2016-04-30          NaN           NaN
2016-05-31          NaN           NaN
2016-06-30          NaN           NaN
2016-07-31          NaN           NaN
2016-08-31          NaN           NaN
2016-09-30          NaN           NaN
2016-10-31  105677600.0           0.0
2016-11-30  144649200.0           0.0
2016-12-31  122345200.0           0.0
2017-01-31  196804000.0           0.0
2017-02-28   93931600.0           0.0
2017-03-31   78646800.0           0.0
2017-04-30   83441600.0           0.0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [93]:
#Using inner to merge dataframe by their intersection
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228343  26.369355  25.915764  25.974520    -0.021601
2016-12-31  27.415203  27.544463  27.128477  27.220135     0.047955

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [94]:
#using append to join dataframe by rows
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792777  22.379036  21.691618  22.379036          NaN
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921
2016-05-31  23.163041  23.349090  22.981644  23.223507     0.071773
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660
2016-07-31  24.230501  24.314223  24.111894  24.235151     0.090063
2016-08-31  24.705481  24.918257  24.700804  24.808361     0.023652
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065504
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228343  26.369355  25.915764  25.974520    -0.021601
2016-12-31  27.415203  27.544463  27.128477  27.220135     0.047955
2016-10-31  26.573707  26.709324  26.468487  26.547987          NaN
2016-11-30  26.228343  26.369355  25.915764  25.974520          NaN
2016-12-31  27.415203  27.544463  27.128477  27.220135          NaN
2017-01-31  28.472795  28.529199  28.348234  28.519798          NaN
2017-02-28  32.356356  32.441331  32.266660  32.335114          NaN
2017-03-31  33.923670  34.053492  33.756080  33.909508          NaN
2017-04-30  34.011005  34.060575  33.817454  33.907146          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [95]:
#Joining two datafames by rows using concat function with axis = 0 parameter
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792777  22.379036  21.691618  22.379036          NaN
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921
2016-05-31  23.163041  23.349090  22.981644  23.223507     0.071773
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660
2016-07-31  24.230501  24.314223  24.111894  24.235151     0.090063
2016-08-31  24.705481  24.918257  24.700804  24.808361     0.023652
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065504
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334
2016-11-30  26.228343  26.369355  25.915764  25.974520    -0.021601
2016-12-31  27.415203  27.544463  27.128477  27.220135     0.047955
2016-10-31  26.573707  26.709324  26.468487  26.547987          NaN
2016-11-30  26.228343  26.369355  25.915764  25.974520          NaN
2016-12-31  27.415203  27.544463  27.128477  27.220135          NaN
2017-01-31  28.472795  28.529199  28.348234  28.519798          NaN
2017-02-28  32.356356  32.441331  32.266660  32.335114          NaN
2017-03-31  33.923670  34.053492  33.756080  33.909508          NaN
2017-04-30  34.011005  34.060575  33.817454  33.907146          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [96]:
#Changing column names results in a not correct merging of the dataframes
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.792777  22.379036  21.691618  22.379036          NaN        NaN
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288        NaN
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211        NaN
2016-04-30  21.726098  21.894841  21.383993  21.668310    -0.139921        NaN
2016-05-31  23.163041  23.349090  22.981644  23.223507     0.071773        NaN
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660        NaN
2016-07-31  24.230501  24.314223  24.111894  24.235151     0.090063        NaN
2016-08-31  24.705481  24.918257  24.700804  24.808361     0.023652        NaN
2016-09-30  26.295459  26.508237  26.141139  26.433414     0.065504        NaN
2016-10-31  26.573707  26.709324  26.468487  26.547987     0.004334        NaN
2016-11-30  26.228343  26.369355  25.915764  25.974520    -0.021601        NaN
2016-12-31  27.415203  27.544463  27.128477  27.220135     0.047955        NaN
2016-10-31        NaN  26.709324  26.468487  26.547987          NaN  26.573707
2016-11-30        NaN  26.369355  25.915764  25.974520          NaN  26.228343
2016-12-31        NaN  27.544463  27.128477  27.220135          NaN  27.415203
2017-01-31        NaN  28.529199  28.348234  28.519798          NaN  28.472795
2017-02-28        NaN  32.441331  32.266660  32.335114          NaN  32.356356
2017-03-31        NaN  34.053492  33.756080  33.909508          NaN  33.923670
2017-04-30        NaN  34.060575  33.817454  33.907146          NaN  34.011005

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.